* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted #000;
  padding-right: 28px;
}

.sub-header {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50px;
}

.sub-header .sub-header_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.sub-header .sub-header__official {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 400;
}

.sub-header .sub-header_call {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
}

.sub-header .sub-header_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.sub-header .sub-header_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url("/img/main-bg.jpg") center center/cover no-repeat;
}

.promo .promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo .promo_sub-header {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.promo .promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  margin: 118px auto;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages {
  margin: 71px 0 65px 0;
}

.label {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 8px 12px;
  font-size: 11px;
  font-weight: 100;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: #000;
}

.title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 0 0;
}

.advantages .advantages_block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.advantages .advantages_block_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1eacc7;
  width: 113px;
  height: 113px;
  border-radius: 100%;
  margin: auto 0;
}

.advantages .advantages_block_content {
  padding-left: 26px;
  width: 340px;
}

.advantages_block_content .advantages_block_title {
  color: #1eacc7;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

.advantages_block_content .advantages_block_descr {
  font-size: 13px;
  font-weight: 300;
  line-height: 21px;
  color: #202020;
}
