doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Artyom Zarevin")
        link(rel="shortcut icon" href="/images/hero/logo-notext.png" type="image/png")
        link(rel="stylesheet" href="/css/main.css")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet")
        title Education for all
    body
        section.hero
            .container
                header.hero__header
                    .logo
                        img(src="/images/hero/logo-text.png", alt="Logo").logo--desktop
                        img(src="/images/hero/logo-notext.png", alt="Logo with no text").logo--mobile
                    div.nav
                        nav
                            ul
                                li Home
                                li Services
                                li Product
                                li Contact
                                a.btn.btn--signin(href="#") Sign in
                .about
                    .about__desc
                        h1 Education for all
                        p 
                            | A bank is a financial institution that accepts 
                            | deposits from the public and creates credit. For 
                            | all of your financial needs 
                        a.btn.btn--read Read More!
                    .about__image
                        img(src="/images/hero/hero-people.png", alt="People image")
                form.apply-form.--tac
                    h2 Apply for admission
                    p Make it more simple
                    .__form-group
                        input(type="email" placeholder="Enter your email ..." name="email-input").form-field
                        span 
                            img(src="/images/hero/form-icon.png", alt="form icon")

































                        //- .img-desc.img-desc--1
                        //-     img(src="/images/hero/box-image/box-1.png", alt="")
                        //-     | 502 Courses
                        //- .img-desc.img-desc--2
                        //-     img(src="/images/hero/box-image/box-2.png", alt="")
                        //-     | 3225 Student
                        //- .img-desc.img-desc--3
                        //-     img(src="/images/hero/box-image/box-3.png", alt="")
                        //-     | 459 Teacher
                        //- .img-desc.img-desc--4
                        //-     img(src="/images/hero/box-image/box-4.png", alt="")
                        //-     | Learn Anywhere
                        //- .img-desc.img-desc--5
                        //-     img(src="/images/hero/box-image/box-5.png", alt="")
                        //-     | Lifetime Access
                        //- .img-desc.img-desc--6
                        //-     img(src="/images/hero/box-image/box-6.png", alt="")
                        //-     | Expert Instructions