@media screen and ( min-width: 320px )
    html
        font-size: 26.5%
@media screen and ( min-width: 480px )
    html
        font-size: 37.5%
@media screen and ( min-width: 768px )
    html
        font-size: 48.5%
@media screen and (min-width: 1024px) and ( max-width: 1200px )
    html
        font-size: 59.5%
@media screen and (min-width: 1201px )
    html
        font-size: 62.5%
