

@media screen and ( max-width:  480px)
    html
        font-size: 17%

@media screen and ( min-width:  481px) and ( max-width:  768px)
    html
        font-size: 25%

@media screen and ( min-width:  769px) and ( max-width:  960px)
    html
        font-size: 35%

@media screen and ( min-width:  961px)
    html
        font-size: 46.5%